.popup__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 430px;
  padding-top: 34px;
  padding-left: 36px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
}

@media screen and (max-width: 767px) {
  .popup__container {
    max-width: 282px;
    padding-top: 25px;
    padding-left: 22px;
  }
}
