.popup__tooltip-title {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 60px;
  width: 100%;
  max-width: 358px;
}

@media screen and (max-width: 480px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 69px;
  }
}
